<div class="navbar">
    <div class="title">
       <h2> <a href="/">devApp</a></h2>
    </div>
    <div class="menu">
        <ul>
            <li><h2><a href="/eproject">projects</a></h2></li>
            <li><h2><a href="/eblog">blogs</a></h2></li>
            <li><h2><a href="/econtact">contact</a></h2></li>
        </ul>
    </div>
</div>