<div class="container3">
    <div class="box1">
        <div class="contact">
            <h1>Contact</h1>
            <label for="name"><h2>Enter your name:</h2></label>
            <input type="text" name="name">
            <label for="email"><h2>Enter your email:</h2></label>
            <input type="text" name="email">
            <button><h2>send</h2></button>
        </div>
    </div>
    <div class="img">
        <img src="/assets/contact/contact.svg"/>
    </div>
    <div class="box2">
        <div class="address">
            <h2><%= contactData.address %></h2>
        </div>
        <div class="email">
            <h2><%= contactData.email %></h2>
        </div>
        <div class="phno">
            <h2><%= contactData.phno %></h2>
        </div>
    </div>
</div>