<div class="main">
    <div class="banner">
       <h1>
           <%= profileData.content%>
       </h1>
    </div>
    <div class="bimage">
        <img src="/assets/profile/profile.svg" alt="profile">
    </div>
</div>