<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OZsum</title>
    <link rel="stylesheet" href="/OZsum.css">
    <link rel="stylesheet" href="/css/all.min.css">
    
</head>
<body>
    <nav>
        <input type="checkbox" onchange="handleChange(this)" id="check">
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
        <!-- <label class="logo">OZsum</label> -->
        <ul id="llink">
          <li><a href="#service">Services</a></li>
          <li><a href="#feature">Features</a></li>
          <li><a href="#about">About</a></li>
        </ul>
    </nav>
    <div class="bannerr">
        <div class="content">
            <h1>OZsum</h1>
            <h2>Accounting & Business Services</h2>
            <span>IN PURSUIT OF QUALITY</span>
        </div>
    </div>
    <!-- <div class="banner">

    </div> -->
    <section id="service">
        <div class="title" >
            <h1>SERVICES</h1>
        </div>
        <div class="content">         
            <span>7 years of experience in diverse lines of work like Australian accounting, taxation, book-keeping, and internal audit, enjoying proficiency in MS Office Suite and accounting software tools like XERO, XPM, MYOB AR, MYOB AE,  Quickbooks, etc. My work experiences are as follows:</span>
            <ul>
                <li>Preparation of financial statements and income tax returns for companies, trusts, partnerships and individuals in MYOB Accountants Office and XERO Practice Manager</li>
                <li>Preparation and lodgement of IAS, BAS and FBT returns after review of books of account on quarterly/ monthly basis</li>
                <li>Bookkeeping/ accounting for sole proprietorship/ partnership business/ companies</li>
                <li>Exposure to a variety of tax matters including GST, CGT, FBT and Div7</li> 
                <li>Maintaining clients' asset register, adjusting journals and reconciliations</li>
                <li>Payroll processing for a large company fortnightly with around 150 employees</li> 
                <li>Item-wise scrutiny and passing of necessary year-end adjustment journals</li>
                <li>Preparation of PDF and Excel workpaper for year-end workings</li>
                <li>Setting up of books of account for clients including preparation of chart of accounts, Bank-feeds, supplier, customer and employee card files, payroll categories, entering opening balances, etc. In both XERO & MYOB AR.</li>
                <li>Setting up of business for clients, including application for company formation on AISC, applying for ABN and TFN and other registrations for company and setting up of books of account in XERO, MYOB AR and MYOB Essential.</li> 
                <li>Liaising with clients & external agencies like ATO, ASIC, etc. </li>
            </ul>
         </div>
    </section>
    <div id="feature" class="cont">
        <h1>Salient features</h1>
        <div class="container">
            <div class="item">
                <i class="fas fa-clock"></i>
                <p>Timely delivery of jobs</p>
            </div>
            <div class="item">
                <i class="fas fa-business-time"></i>
                <p>Sound,effective and organised workflow</p>
            </div>
            <div class="item">
                <i class="fas fa-user-clock"></i>
                <p>Flexible work timings</p>
            </div>
            <div class="item">
                <i class="fas fa-passport"></i>
                <p>Exceptional Workpapers</p>
            </div>
        </div>
    </div>
    <section class="section2" id="about">
        <div class="title">
            <h1>ABOUT us</h1>
        </div>
        <div class="content">         
            <span>
                OZsum is a start-up Knowledge Process Outsourcing (KPO) firm endeavored to improve the finance and accounting functions of your organization. We are well equipped with professionally qualified and experienced members with sound knowledge in advanced and state-of-the-art technology platforms, who would understand your needs and devise cost-effective solutions accordingly. This lets you focus on the core and strategic activities of your business and thereby save precious time and money; further, it alleviates the burden of having to hire accounting professionals and invest heavily on technology
            </span>
            <ul>
                <h2>Our salient features:</h2>
                   <li>Team of qualified and experienced professionals</li>
                   <li>Offers real-time insights through on-demand reports and intelligence through predictive models</li>
                   <li>Data-driven decisions for your business</li>
                   <li>Helps to mitigate risks and improve compliance</li>
                   <li>Sound and effective workflow</li>
                   <li>Well-documented Data Security Measures</li>
                   <li>Well-established KPI’s (Key Performance Indicators) to monitor process performance</li>
                   <li>Nominal pricing based on a “What-You-Use is What-You-Pay” basis</li>
            </ul>
         </div>
         <div class="action">
             <a href="#"><i class="fas fa-arrow-up"></i></a>
         </div>
    </section>
    <script src="/javascript.js"></script>
</body>
</html>