*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  html{
    scroll-behavior: smooth;
  }
  .bannerr{
      position: relative;
      height:100vh;
      background-image: url(./pexels-indra-gunawan-313032.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      line-height:80px;
  }
  .bannerr::before{
    background-color: rgba(116, 99, 99, 0.37);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .bannerr .content{
      color:white;
      font-weight: bolder;
      z-index:9;
  }
  .bannerr .content h1{
      font-size: 72px;
  }
  .bannerr .content h2{
      font-size:60px;
  }
  .bannerr span{
      letter-spacing: 10px;
  }
  .banner{
    height: 100vh;
    font-family: montserrat;
    background-image: url(./Logo\ 3.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  nav{
    background: transparent;
    position: absolute;
    height: 80px;
    width: 100%;
    z-index: 99;
  }
  /* label.logo{
    color: rgb(234, 220, 141);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  } */
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: rgb(234, 220, 141);
    color:rgb(50, 43, 43);
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: rgb(50, 43, 43);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    label.logo{
        color:white;
    }
    nav ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: rgb(50, 43, 43);
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      z-index:999;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
      color:white;
    }
    a.active,a:hover{
      background: rgb(234, 220, 141);
      color:rgb(50, 43, 43);
      transition: .5s;
    }
    #check:checked ~ ul{
      left: 0;
    }
    
  }


  section{
    /* border:2px solid black; */
      min-height:100vh;
      padding:80px;
      background-color: #282e34;
      color:#ddd;
  }
  .section2{
      min-height: 100vh;
      background-color:#998c8c;
      padding:80px 100px;
      color:rgb(24, 20, 20);
  }
  section .title{
      font-size: 28px;
      text-align: center;
      font-weight:bold;
      margin:100px 0;
  }
  section .content{
      font-size:18px;
      font-weight:200;
  }
  .section2 .content span{
      font-size: 30px;
  }
  section .content span{
      display: block;
      font-size:38px;
      margin-bottom:50px;
  }
  section .content ul h2{
      margin:10px 0;
  }
  section .content ul li{
      list-style:circle;
      line-height: 50px;
      font-size:22px;
      font-weight: 400;
      text-decoration: white;
  }

  @media (max-width:589px){
      .bannerr .content{
          padding:0 10px;
      }
      .bannerr .content h1{
          font-size:50px;
      }
      .bannerr .content h2{
          font-size:30px;
      }
      .bannerr .content span{
          letter-spacing: 5px;
      }
      section{
          padding:10px 25px;
      }
      section .content span{
          font-size:25px;
      }
      section .content ul{
          padding:0 20px;
      }
      .section2{
          padding:10px 25px;
      }
      .section2 .content span{
          font-size:25px;
      }
      .section2 .content ul{
          padding:0 20px;
      }
  }
  .action{
    margin-top:40px;
  }
  .action a{
    text-decoration: none;
    padding:10px 15px;
    /* margin:100px 0; */
    width:100px;
    text-align:center;
    background-color: white;
    color:black;
  }

  .cont{
    min-height:100vh;
    background-color: rgb(148, 156, 156);
    padding:40px 0;
}
.cont h1{
    text-align: center;
    color:white;
    /* margin:30px 0; */
}
.container{
    min-height:90vh;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 200px 200px;
    justify-content: space-around;
    align-content: space-around;
}
.item{
    color:white;
    background-color: rgb(82, 73, 107);
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* border:2px solid black; */
    border-radius:10px;
    width:100%;
    height:100%;
}
.item i{
    font-size:60px;
}
.item p{
    text-align: center;
    font-size:22px;
}
@media(max-width:589px){
    .container{
        display:flex;
        flex-direction: column;
        gap:50px;
        padding:70px 0;
    }
    .item{
        width:90%;
        height:190px;
    }
}
